@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body{
  font-family: 'Oleo Script Swash Caps', cursive;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  text-align: center;
  padding: 20px;
  font-size: 50px;
  margin-bottom: 35px;
}

.selection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-bottom: 35px;
}

button{
  font-family: 'Oleo Script Swash Caps', cursive;
  width: 80px;
  font-size: 30px;
  box-shadow: 5px 5px;
}

button:hover{
  transform: scale(1.1);

}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-and-value{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.slider{
  -webkit-appearance: none;
  background: #DD8D8D;
  border-radius: 50px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 25px; 
  height: 25px; 
  background: white; 
  border-radius: 50px;
}

.grid-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  box-shadow: 10px 10px;
}


.grid-item{
  background-color: white;
  border: 1px solid black;
}

footer{
  text-align: center;
  margin-top: 50px;
  padding: 5px;
}

footer>a{
  text-decoration: none;
  color: black;
}