@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body{
  font-family: 'Oleo Script Swash Caps', cursive;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  text-align: center;
  padding: 20px;
  font-size: 50px;
}

button{
  font-family: 'Oleo Script Swash Caps', cursive;
  width: 80px;
  font-size: 30px;
  box-shadow: 5px 5px;
  margin: 50px;
}

button:hover{
  transform: scale(1.1);

}

.slider{
  -webkit-appearance: none;
  background: beige;
  border-radius: 50px;
  margin-left: 25px;
}

.grid-container{
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  box-shadow: 10px 10px;
}


.grid-item{
  background-color: white;
  border: 1px solid black;
}

footer{
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}

footer>a{
  text-decoration: none;
  color: black;
}